#contentStyle {
  margin: 10px;
}

#dateStyle {
  padding: 10px;
  font-weight: bold;
}

.mat-header-row {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.mat-header-cell {
  color: black;
  min-width: 100px;
}

.myCell[data-isNegative='true'] {
  color: red;
}

.myCell[data-isNegative='false'] {
  color: green;
}
