<h2>Stocks</h2>

<button mat-raised-button (click)="Simulate()">Simulate +1 day</button>

<div>
Date: <div id="dateStyle">{{ dateValue | date }}</div>
</div>

<div id="contentStyle">
  <table mat-table [dataSource]="stocks" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"
          class="myCell"
          [attr.data-isNegative]="isNegative(column, element[column])"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>



